@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
  }
  
  .scrollbar-thumb-teal-500\/20 {
    scrollbar-color: rgba(20, 184, 166, 0.2) transparent;
  }
  
  .scrollbar-thumb-teal-500\/30 {
    scrollbar-color: rgba(20, 184, 166, 0.3) transparent;
  }
  
  /* For Webkit browsers like Chrome/Safari */
  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
  }
  
  .scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: rgba(20, 184, 166, 0.2);
    border-radius: 20px;
    transition: background-color 0.2s;
  }
  
  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    background-color: rgba(20, 184, 166, 0.3);
  }
}

